* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(180deg,#FAE8B4 50%, #d9dbc5f8 100%);
    color: #1e293b;
}

/* ========== Navigation Bar ======== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    background: #43a0eb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffffdc;
}

.logo span {
    color: #1e293b;
}

.nav-links a {
    text-decoration: none;
    color: #64748b;
    margin: 0 1.5rem;
    transition: color 0.3s;
}

.nav-links a.active, .nav-links a:hover {
    color: #ffffff;
}

.logout-btn {
    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    border: 1px solid #e2e8f0;
    background: white;
    cursor: pointer;
    font-weight: 500;
}

/* ========= Contact Management UX Section - Main Part ===============*/
.contactManagement {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-wrapper {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

p {
    color: #64748b;
    margin-bottom: 2rem;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar i {
    position: absolute;
    left: 20px;
    color: #94a3b8;
    font-size: 1.2rem;
}

.search-bar input {
    width: 100%;
    padding: 1.2rem 1.2rem 1.2rem 3.5rem;
    font-size: 1.1rem;
    border: 2px solid transparent;
    border-radius: 50px;
    background: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.3s;
}

.search-bar input:focus {
    border-color: #059669;
    box-shadow: 0 10px 25px -5px rgba(5, 150, 105, 0.2);
}

.status-text {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #94a3b8;
}

/* Foot Design */

footer {
  text-align: center; /* Centers text and inline elements */
  padding: 10px; /* Optional: adds some space around the content */
  background-color: #333; /* Optional: for visibility */
}

footer p{
    color: white;
}
